
<span>ID: {{ ingredient.id }} </span> <span> <a href="#" id="ingredient/update/{{ingredient.id}}" onclick="navigate(this)">edit</a> </span> <br>
<span>Name: {{ ingredient.name }} </span> <br>
<span>Description: {{ ingredient.description }} </span> <br>
