<!doctype html>
<html lang="en">

  {% include 'header.html.twig' %}

  <body>
    {% if renderNav == true %}
      {% include 'nav.html.twig' %}
    {% endif %}

    {# Page Content Here #}
    <div class="" id="pageContent">

    </div>

  </body>
</html>
